# NODE_ENV= # defaults to APP_ENV

APP_NAME=doorman
APP_ENV=development
APP_URL=http://localhost:3000
APP_SECRET=

LOG_LEVEL=debug

# SERVER_HOST= # defaults to APP_URL hostname
# SERVER_PORT= # defaults to APP_URL port (if port is not set in it, defaults to 443 or 80 if its https or not)

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=doorman_db
DB_USERNAME=doorman_user
DB_PASSWORD=doorman_password
# DB_URL= # defaults to `postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}`

RATE_LIMIT_MAX=100
RATE_LIMIT_TIME_WINDOW=1m

COOKIE_KEY=doorman_cookie
COOKIE_SECRET=
# COOKIE_SECURE= # defaults to OIDC_ISSUER origin if is "https:"

CSRF_KEY=doorman_csrf

# OIDC_ISSUER= # defaults to APP_URL
