NODE_ENV=development

APP_PORT=3000
APP_HOST=localhost

LOG_LEVEL=debug

RATE_LIMIT_MAX=100

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=doorman
DB_USER=root
DB_PASSWORD=secret

JWT_SECRET=change_jwt_secret
COOKIE_SECRET=change_cookie_secret
